[Desktop Entry]
Version=1.0
Name=ssg-player
Comment=Imai Asami's Singersong Gamer (an internet radio by Imai Asami) player and downloader.
Exec=/usr/bin/ssg-player
Icon=/usr/share/pixmaps/ssg-player.png
Terminal=false
Type=Application
StartupNotify=true
Categories=Music;Network;
